html{
    background-image: url(Background.png);
    background-color: rgb(219, 239, 242);
    background-size: cover;
    background-repeat: no-repeat;
}
body>form{
    background-color: white;
    text-align: center;
    border-radius: 60px;
    border: 7px solid rgba(41, 41, 128);
    padding: 24px 34px;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 750px;
    margin-left: 750px;
    font-family: 'Jost', sans-serif;
    
}
body>form>.survey{
    font-size: 56px;
    font-family: 'Bebas Neue', cursive;
}
input[type=submit] {
    font-family: 'Jost', sans-serif;


        border-radius: 60px;
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: 7px solid rgba(41, 41, 128);
        padding: 12px 17px;
        font-size: 30px;
        background: rgba(72, 72, 222);
        position: relative;
        cursor: pointer;

}
input[type=text] {
    padding:5px;
    border: 2px solid rgba(41, 41, 128);
    border-radius:5px;
    width: 150px;
}

input[type=number] {
    padding:5px;
    border: 2px solid rgba(41, 41, 128);
    border-radius:5px;
    width: 150px;
}
input[type=option] {
    padding:5px;
    border: 2px solid rgba(41, 41, 128);
    border-radius:5px;
    width: 150px;
}
